body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

.nav-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 2rem;
  border-radius: 5px;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-principal a{
  margin: 0 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

genk-posts{
  display: flex;
  flex-direction: row;
}
.posts-nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 400px;
  height: calc(100vh - 300px);
  overflow-y: scroll;
  border: 1px solid white;
}

.posts-nav button {
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.posts-nav li{
  list-style-type: none;
}
.posts-nav post-ui {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

h1{
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
}

h2{
  padding: 2px;
  font-size: 1em;
}

h2::first-letter{
  text-transform: uppercase;
}

.posts-nav li:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

p::first-letter{
  text-transform: uppercase;
}

button {
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #333;
  color: white;
}

.single-post {
  display: flex;
  min-height: 400px;
  max-height: calc(100vh - 300px);
  width: 70%;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid white;
  justify-content: center;
}

.post-details{
    display: flex;
    width: 70%;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid white;
    justify-content: center;
}

.botones-post-details {
  text-align: center;
}



form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color:black;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}